.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.clock {
	color: antiquewhite;
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 1.5em;
	font-weight: bold;
}

.todo {
	position: absolute;
	top: 30%;
	left: 35%;
	color: antiquewhite;
}

.widget {
	color: antiquewhite;
	position: absolute;
	right: 10px;
	top: 20px;
	font-weight: bold;
}
button {
	background: transparent;
	border: none;
	outline: none;
}

button img {
	width: 40px;
	border: 2px double white;
	border-radius: 50%;
	animation: spin 4s linear infinite;
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.credentials {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: antiquewhite;
}

.credentials a {
	text-decoration: none;
	color: antiquewhite;
}
